@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-UltraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-ExtraBlack.woff') format('woff');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('./font/IRANYekanXFANum-Heavy.woff') format('woff');
  font-weight: 1000;
  font-style: normal;
}
